*#
*.bak
*.dat
*.gz
*.json
*.log
*.lst
*.txt
*.meta
*.MYD
*.php
*.py
*.xlsx
*~
.#*
.pio/*
.pioenvs/*
.piolibdeps/*
.scons*
cscope.*
sortelf
cpy.sh
list.sh
load.sh
term.sh
wload.sh
new/
old/
data/
data1/
convert
build/*
io/*

include/adc.h
include/current.h
include/cyclectr.h
include/dma.h
include/gpio.h
include/main.h
include/stm32info.h
include/stm32spi.h
include/tim.h
include/spi.h
include/i2c.h

src/current.cpp
src/i2cx.cpp
src/i2cx.h
src/lcd.cpp
src/lcd.h
src/spix.cpp
src/spix.h
src/stm32Info.cpp
src/stm32f1adc.c
src/stm32f1dma.c
src/stm32f1gpio.c
src/stm32f1i2c.c
src/stm32f1spi.c
src/stm32f1tim.c

*.rules
